{% extends 'core/base_cms.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE %}
{% load filter_by_active_language from cms_tags %}
{% load card hero add_export_elements_classes from directory_components_tags %}

{% block css_layout_class %}landing-page{% endblock %}
{% block body_header %}
  {% include 'core/includes/header_no_country_select.html' %}
{% endblock %}

{% block content %}
<section class="hero hero-generic" id="hero-section" style="background-image: url({% static 'images/landing-hero-image.jpg' %})">
  <div class="container wrap-tight">
    <div class="heading-container">
      <h1 class="heading-xlarge heading-title margin-top-0 margin-bottom-0">
				We are open.<br> The UK welcomes<br> international businesses.
			</h1>
    </div>
  </div>
</section>

<section id="body-description" class="body-description padding-vertical-60">
	<div class="container">
		<div class="grid-row">
			<div class="column-three-quarters">
				<section class="grid-row">
					<div class="column-eight-ninths article-content">
						<h2 class="heading-large margin-top-0">
							As a trading nation, we are outward-looking and thrive on the exchange of goods, ideas and people with the rest of the world.
						</h2>
						<p class="body-text">The UK’s decision to exit from the European Union does not change this.</p>
						<p class="body-text">After the UK leaves the EU we will continue to be an open trading nation.</p>
						<p class="body-text">We still welcome international business and have not turned our back on our friends and trading partners.</p>
					</div>
				</section>
			</div>
			{{ related_pages }}
      {% block related_content %}
        {% include 'core/includes/landing_related_content_list.html' with related_page_one=related_page_one%}
      {% endblock %}

		</div>
	</div>
</section>

<section id="international-invest-section" class="international-invest-section padding-vertical-60">
  <div class="container">
    <div class="card-grid">

			<div class="column-half">
				<div class="card" id="card-place-holder-1">
          <div class="card-image" id="card-fas-image" role="image" style="background-image: url({% static 'images/placeholder.png' %});" aria-label="Buy from the UK" title="Buy from the UK">
            <p class="visually-hidden">Buy from the UK</p>
          </div>
          <div class="card-inner">
            <h4 class="heading-title heading-small">Title</h4>
            <p class="body-text">Updated 01 July 2018</p>
						<a href="#" class="button button-large button-blue">Contact us</a>
          </div>
        </div>
      </div>

      <div class="column-half">
        {% static 'images/placeholder.png' as card_image %}
        <div class="card " id="card-place-holder-2">
          <div class="card-image" role="image" style="background-image: url({% static 'images/placeholder.png' %});" id="fas-card-image"></div>
          <div class="card-inner">
            <h4 class="heading-title heading-small">Title</h4>
            <p class="body-text">Updated 01 July 2018</p>
						<a href="#" class="button button-large button-blue">Contact us</a>
          </div>
        </div>
      </div>

			<div class="column-half">
				<div class="card" id="card-buy-from-uk">
          <div class="card-image" id="card-fas-image" role="image" style="background-image: url({% static 'images/landing_buy_from_uk_card.png' %});" aria-label="Buy from the UK" title="Buy from the UK">
            <p class="visually-hidden">Buy from the UK</p>
          </div>
          <div class="card-inner">
            <h3>Buy from the UK</h3>
            <p>Get exclusive early access to profiles of high quality UK businesses ready to fulfill your demand.</p>
            <a href="https://trade.great.gov.uk?lang=en-gb" rel="noopener noreferrer" target="_blank" class="button button-large button-blue">Find a Supplier</a>
          </div>
        </div>
      </div>

			<div class="column-half">
				<div class="card" id="card-invest-uk">
          <div class="card-image" id="card-fas-image" role="image" style="background-image: url({% static 'images/landing_invest_uk_card.png' %});" aria-label="Buy from the UK" title="Buy from the UK">
            <p class="visually-hidden">Invest in the UK</p>
          </div>
          <div class="card-inner">
            <h3>Invest in the UK</h3>
            <p>Discover the UK’s wealth of investment opportunities and how the UK government will support your global ambition.</p>
            <a href="https://invest.great.gov.uk" rel="noopener noreferrer" target="_blank" class="button button-large button-blue">See the potential</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock content %}

{% block content_after %}
<section class="background-great-blue study-visit-cta-section" id="study-visit-cta-section">
  <div class="container padding-vertical-30">
    <div class="grid-row">
      <div class="column-full column-half-l column-third-xl">
        <a href="https://study-uk.britishcouncil.org/" rel="noopener noreferrer" class="button button-ghost-white button-arrow">Study in the UK</a>
      </div>
      <div class="column-full column-half-l column-third-xl">
        <a href="https://www.visitbritain.com/gb/en" rel="noopener noreferrer" class="button button-ghost-white button-arrow">Visit the UK</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
